html{
  font-family:"Montserrat", sans-serif;
}
#cor{
  background-color: #d6660a;
}
#corB{
  background-color: #d6660a;
  border: none;
}
#corB2{
  background-color: #48067f;
}
#corB3{
  background-color: #525151;
}
#corT{
  color: #525151;
}
#corT2{
  color: #d6660a; 
}
#corT3{
  color: #48067f;
}
h6{
  color: #d6660a; 
}
