html{
  font-family:"Montserrat", sans-serif;
}
#cor{
  background-color: #d6660a;
}
#corB{
  background-color: #d6660a;
  border: none;
}
#corB2{
  background-color: #48067f;
}
#corB3{
  background-color: #525151;
}
#corT{
  color: #525151;
}
#corT2{
  color: #d6660a; 
}
#corT3{
  color: #48067f;
}
h6{
  color: #d6660a; 
}
.productStyle{
  border: 1px solid #CBCBCB !important;
  border-radius: 30px;
  width: 180px !important;
}
.container{
  max-width: 100% !important;
}
.productStyle button{
  background-color: #48067f;
  margin-bottom: 13px;
}
.serviceStyle{
  border: 1px solid #CBCBCB !important;
  border-radius: 27px;
  padding: 0;
  width: 32% !important;
}

.serviceStyle button{
  background-color: #48067f;
  margin-bottom: 13px;
}
.product-cont{
  gap: 12px;
  margin-left: 40px;
}