html{
    font-family:"Montserrat", sans-serif;
  }

  body {
    padding-top: 130px;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
  }

  .montserrat-title{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style:normal
  }

  .montserrat-text{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style:normal
  }

  .text-light{
    font-weight: 500;
    font-size: 13px;
  }

  #image{
      align-items: center;
      justify-content: center;
      display: flex;
      float: right;
  }

  #image img{
    padding-top: 10%;
    max-width: 60%;
    height: auto;
  }

  #page-text{
    color: #48067f;
    line-height: 2.5rem;
  }

  #cor{
    background-color: #d6660a;
  }
  #corB{
    background-color: #d6660a;
    border: none;
  }
  #corB2{
    background-color: #48067f;
  }
  #corB3{
    background-color: #525151;
  }
  #footer-text{
    font-weight: 500;
    color: #f0f0f0;
  }
  #corT{
    color: #525151;
  }
  #corT2{
    color: #d6660a; 
  }
  #corT3{
    color: #48067f;
  }
  h6{
    color: #d6660a; 
  }